<h2>{{title}}</h2>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let list of todoList" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        {{ list }} <button (click)="removeTasks(list)">Remove Task</button>
    </div>

    <div class="example-box">
          <!-- two-way bind using [(ngModel)]  -->
    <input type="text" [(ngModel)]="tasks"> 
    <button (click)="addTasks()">Add Task</button>
    </div>
</div>